<launch>
  <arg name="input_cloud" default="/kinect_head/depth_registered/half/points"/>

  <node name="boxfilter_pre" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/AttentionClipper"
    output="screen">
    <remap from="~input/points" to="$(arg input_cloud)"/>
    <rosparam>
      use_multiple_attention: false
      dimension_x: 0.8
      dimension_y: 1.0
      dimension_z: 0.4
      initial_pos: [1.0, 0.0, 0.8]
    </rosparam>

    <param name="frame_id" value="base_link" />
  </node>

  <node name="ExtractIndices" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/ExtractIndices"
    output="screen">
    <remap from="~input" to="$(arg input_cloud)"/>
    <remap from="~indices" to="boxfilter_pre/output/point_indices"/>
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>

  <node name="multi_plane_estimate" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/OrganizedMultiPlaneSegmentation"
        output="screen">
    <remap from="~input" to="ExtractIndices/output" />
    <rosparam>
      max_curvature: 0.005
      estimate_normal: true
      min_size: 5000
    </rosparam>
  </node>

  <node name="multi_plane_extraction" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/MultiPlaneExtraction"
    output="screen">
    <remap from="~input" to="ExtractIndices/output"/>
    <remap from="~input_polygons" to="multi_plane_estimate/output_polygon"/>
    <remap from="~input_coefficients" to="multi_plane_estimate/output_coefficuents"/>
    <remap from="~indices" to="multi_plane_estimate/output"/>
    <rosparam>
      min_height: 0.01
      max_height: 0.15
    </rosparam>
  </node>


  <node name="hsi_filter" pkg="nodelet" type="nodelet"
    args="standalone jsk_pcl/HSIColorFilter" 
    output="screen">
    <remap from="~input" to="ExtractIndices/output" />
    <rosparam>
      use_indices: false
      keep_organized: false
    </rosparam>
    <param name="h_limit_max" value="8" />
    <param name="h_limit_min" value="-128" />
    <param name="s_limit_max" value="255" />
    <param name="s_limit_min" value="45" />
    <param name="i_limit_max" value="255" />
    <param name="i_limit_min" value="0" />
  </node>

  <node pkg="nodelet" type="nodelet" name="euclidean_clustering"
        args="standalone jsk_pcl/EuclideanClustering" output="screen">
        <remap from="~input" to="hsi_filter/output" />
    <rosparam>
      tolerance: 0.02
      min_size: 50
    </rosparam>
  </node>

</launch>
